BankingApp\BankingApp\bin
BankingApp\BankingApp\obj
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/BankingApp.dll
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/BankingApp.pdb
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/BankingApp.Tests.deps.json
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/BankingApp.Tests.dll
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/BankingApp.Tests.pdb
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/Castle.Core.dll
/BankingApp/BankingApp.Tests/bin/Debug/netcoreapp3.1/Moq.dll
/BankingApp/BankingApp.Tests/obj/BankingApp.Tests.csproj.nuget.dgspec.json
/BankingApp/BankingApp.Tests/obj/Debug/netcoreapp3.1/BankingApp.Tests.assets.cache
/BankingApp/BankingApp.Tests/obj/Debug/netcoreapp3.1/BankingApp.Tests.csproj.CoreCompileInputs.cache
/BankingApp/BankingApp.Tests/obj/Debug/netcoreapp3.1/BankingApp.Tests.csproj.FileListAbsolute.txt
/BankingApp/BankingApp.Tests/obj/Debug/netcoreapp3.1/BankingApp.Tests.csprojAssemblyReference.cache
/BankingApp/BankingApp.Tests/obj/Debug/netcoreapp3.1/BankingApp.Tests.dll
/BankingApp/BankingApp.Tests/obj/Debug/netcoreapp3.1/BankingApp.Tests.pdb
/BankingApp/BankingApp.Tests/obj/project.assets.json
/BankingApp/BankingApp.Tests/obj/project.nuget.cache
/BankingApp/BankingApp/bin/Debug/netcoreapp3.1/BankingApp.dll
/BankingApp/BankingApp/bin/Debug/netcoreapp3.1/BankingApp.pdb
/BankingApp/BankingApp/obj/Debug/netcoreapp3.1/BankingApp.csproj.CoreCompileInputs.cache
/BankingApp/BankingApp/obj/Debug/netcoreapp3.1/BankingApp.dll
/BankingApp/BankingApp/obj/Debug/netcoreapp3.1/BankingApp.pdb
